.row {
    width: 100%;
    height: fit-content;
    padding: 2rem 2rem;
}

.posters {
    margin-top: 2rem;
    display: flex;
    overflow-x: scroll;
}

.posters::-webkit-scrollbar {
    display: none;
}

.posters-small {
    width: 15rem;
    margin-right: 1rem;
}

.poster-large {
    /* height: 4rem; */
    width: 25rem;
    margin-right: 1rem;
}
.videoViewer{
    margin-top: 2rem;
    
}